Hello!

You have been invited to become an Application Admin for {{ env('APP_NAME') }} by {{ inviter.name }}.

@if(message)
  They left the following message:

  {{ message }}
@endif

The invitation link expires on {{ expiration }}

Invitation link: {{ inviteLink }}
