@mjml()
  <mjml>
    <mj-body>
      <mj-section>
        <mj-column>
          <mj-text>
            Hello, {{ user.name }}.
          </mj-text>
          @if(expiration)
            <mj-text>
              The reset link expires on {{expiration}}
            </mj-text>
          @endif
          <mj-button href="{{resetLink}}">Reset Password</mj-button>
        </mj-column>
      </mj-section>
    </mj-body>
  </mjml>
@end