@mjml()
  <mjml>
    <mj-body>
      <mj-section>
        <mj-column>
          <mj-text>
            Hello, {{ user.name }}.
          </mj-text>
          @if(expiration)
            <mj-text>
              Your {{ appName }} user account has been reactivated!
            </mj-text>
          @endif
        </mj-column>
      </mj-section>
    </mj-body>
  </mjml>
@end
